<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test1">
    <classes>
      <class name="testScenarioOne.MenuCheck"/>
  </classes>
  </test><test name="Test2_3">
    <classes>
      <class name="testScenarioTwoThree.CabsDataValidation"/>
  </classes>
  </test><test name="Test4">
    <classes>
      <class name="testScenarioFour.GiftCardVerify"/>
  </classes>
  </test><test name="Test5">
    <classes>
      <class name="testScenarioFive.FormCheck"/>
      <class name="testScenarioFive.FormCheckInvalid"/>
  </classes>
  </test><test name="Test6">
    <classes>
     <class name="testScenarioSix.HotelDetails"/>
  </classes>
  </test>
 <!-- Test -->
</suite> <!-- Suite -->
